!!!
%html
  %head
    %title= Settings.service.name
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ content: 'IE=edge', 'http-equiv': 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }

    = csrf_meta_tags
    = stylesheet_link_tag    'admin/application', media: 'all'
    = javascript_include_tag 'admin/application'

    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.0/css/AdminLTE.min.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.0/css/skins/skin-black.min.css', rel: 'stylesheet', type: 'text/css' }

  %body.hold-transition.skin-black.sidebar-mini
    .wrapper
      = render 'admin/layouts/header'
      = render 'admin/layouts/sidebar'
      .content-wrapper
        = render 'layouts/flash'
        /%section.content-header
        %section.content.container-fluid
          = yield

      %footer.main-footer
        .pull-right.hidden-xs
          Anything you want
        %strong
          Copyright © 2018
        All rights reserved.

    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.0/js/adminlte.min.js', type: 'text/javascript' }
