<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= Settings.service.name %>管理画面 | ログイン</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&amp;subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/skins/skin-black.min.css" />

    <!-- LanderApp's stylesheets -->
    <%= stylesheet_link_tag 'admin/application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <b><%= Settings.service.name %></b> Admin
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <%= render 'admin/layouts/flash' %>
        <p class="login-box-msg">ログインしてください</p>
        <%= yield %>
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    <%= javascript_include_tag 'admin/application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/js/adminlte.min.js"></script>
  </body>
</html>
