!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    = display_meta_tags site: Settings.service.name
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    = render 'layouts/flash'
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.pull-right
            - if false
              %li
                = link_to 'Sign out', root_path, method: :delete, class: %w[text-danger]
            - else
              %li
                = link_to 'Sign up', root_path, class: %w[btn btn-success]
              %li
                = link_to 'Sign in', root_path, class: %w[btn btn-primary]
        %h3.text-muted
          = link_to RocketDash, root_path
      = yield
